:root {
    --primary-color: #9ed956;
    --secondary-color: #2c2c2c;
    --accent1-color: #ffffff;
    --accent2-color: #c3c3c3;
    --accent3-color: #000000;
    --heading-font: "Roboto", sans-serif;
    --body-font: "Roboto", sans-serif;
    --screen-medium: 768px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    height: 100vh;
    font-family: var(--body-font);
    background: var(--accent2-color);
    color: var(--accent3-color);
    background-image: radial-gradient(circle, #9f9d9d 1px, rgba(0, 0, 0, 0) 1px);
    background-size: 1rem 1rem;
    grid-template-areas:
        "header"
        "nav"
        "main"
        "footer";
    grid-template-rows: auto 1fr auto auto;
}

header {
    padding: 1rem;
    color: var(--accent1-color);
    background: var(--secondary-color);
}

main {
    width: 100%;
    margin: 0 auto;
    background-color: var(--accent2-color);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

footer {
    padding: 2rem;
    color: var(--accent1-color);
    background-color: var(--secondary-color);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

figcaption {
    text-transform: capitalize;
}

.weather-card {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--accent1-color);
}

@media screen and (min-width: 1024px) {
    body {
        display: grid;
        height: 100vh;
        max-width: 1280px;
        margin-inline: auto;
        font-family: var(--body-font);
        grid-template-areas:
            "header header header"
            "nav nav nav"
            "main main main"
            "footer footer footer";
        grid-template-rows: auto 1fr auto auto;
        grid-template-columns: 2fr 2fr 1fr;
    }

    main,
    header,
    footer {
        grid-column: 1 / 4;
    }

    main {
        width: 100%;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        gap: 1rem;
    }

    footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .weather-card {
        padding: 1rem;
        max-width: 32rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 1rem;
        background-color: var(--accent1-color);
    }
}
