:root {
    --primary-color: #00D4D4;
    --secondary-color: #0A1D56;
    --danger-color: #de1212;
    --accent1-color: #f1f1f1;
    --accent2-color: #f3f3f3;
    --accent3-color: #3A3A43;
    --accent4-color: #212121;
    --heading-font: "Roboto", sans-serif;
    --body-font: "Roboto", sans-serif;
    --screen-medium: 768px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

button {
    padding: 0.5rem 1rem;
    background-color: transparent;
    border: 2px solid var(--secondary-color);
    border-radius: 0.5rem;
    color: var(--secondary-color);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    border: 2px solid var(--accent2-color);
    background-color: var(--accent2-color);
}

address {
    font-style: normal;
}

dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid rgb(0 0 0 / 10%);
    border-radius: .25rem;
    padding: 1rem;
    background-color: var(--accent2-color);
    box-shadow: 0 0 3rem var(--accent3-color);
    width: 90%;
    max-width: 600px;
}

::backdrop {
    background-color: rgb(0 0 0 / 50%);
}

dialog button {
    padding: .5rem 1rem;
    color: var(--accent4-color);
    border: 2px solid var(--accent4-color);
    background-color: transparent;
}

dialog button:hover {
    color: var(--accent1-color);
    border: 2px solid var(--accent4-color);
    background-color: var(--accent4-color);
}

dialog button:focus {
    outline-offset: 2px;
    outline: 2px solid var(--accent3-color);
    border: 2px solid var(--accent4-color);
}

.modal-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding-bottom: 0.5rem;
}

.modal-body {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.modal-footer {
    margin-top: 2rem;
    padding-top: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 1rem;
}

form {

    label {
      display: block;
      font-size: .8rem;
      color: var(--accent1-color);
      padding-top: .2rem;
    }

    input[type=text],
    input[type=tel],
    input[type=date],
    input[type=email],
    select {
      display: block;
      margin: .1rem 0 1rem 0;
      padding: .5rem;
      border: 1px solid var(--accent3-color);
      border-radius: 4px;
      border-left-width: 5px;
      border-left-color: var(--accent4-color);
      font-size: 1rem;
      color: var(--accent4-color);
      width: 250px;
    }

    input:required {border-left-color: var(--danger-color);}
    input:focus {border-left-color: var(--accent4-color); outline:none;}
    input:required:valid{border-left-color: var(--primary-color);}

    input[type=submit] {
      border: none;
      text-align: center;
      background-color: var(--accent4-color);
      color: var(--accent1-color);
      border-radius: 1rem;
      padding: .75rem 1.5rem;
      margin: 2rem 0;
      font-size: 1.2rem;
      -webkit-appearance: none;
      appearance: none;
    }
}

input:-webkit-autofill{
    -webkit-text-fill-color: var(--accent4-color);
}
