:root {
    --primary-color: #00D4D4;
    --secondary-color: #0A1D56;
    --danger-color: #de1212;
    --accent1-color: #f1f1f1;
    --accent2-color: #f3f3f3;
    --accent3-color: #3A3A43;
    --accent4-color: #212121;
    --heading-font: "Roboto", sans-serif;
    --body-font: "Roboto", sans-serif;
    --screen-medium: 768px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

button {
    padding: 0.5rem 1rem;
    background-color: transparent;
    border: 2px solid var(--secondary-color);
    border-radius: 0.5rem;
    color: var(--secondary-color);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    border: 2px solid var(--accent2-color);
    background-color: var(--accent2-color);
}

address {
    font-style: normal;
}

dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid rgb(0 0 0 / 10%);
    border-radius: .25rem;
    padding: 1rem;
    background-color: var(--accent2-color);
    box-shadow: 0 0 3rem var(--accent3-color);
    width: 90%;
    max-width: 600px;
}

::backdrop {
    background-color: rgb(0 0 0 / 50%);
}

dialog button {
    padding: .5rem 1rem;
    color: var(--accent4-color);
    border: 2px solid var(--accent4-color);
    background-color: transparent;
}

dialog button:hover {
    color: var(--accent1-color);
    border: 2px solid var(--accent4-color);
    background-color: var(--accent4-color);
}

dialog button:focus {
    outline-offset: 2px;
    outline: 2px solid var(--accent3-color);
    border: 2px solid var(--accent4-color);
}

.modal-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding-bottom: 0.5rem;
}

.modal-body {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.modal-footer {
    margin-top: 2rem;
    padding-top: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 1rem;
}
