@media screen and (min-width: 768px) {
    .map {
        min-height: 40vh;
        width: 100%;
    }

    .restaurants-list .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media screen and (min-width: 1024px) {
    body {
        display: grid;
        height: 100vh;
        max-width: 1280px;
        margin-inline: auto;
        font-family: var(--body-font);
        grid-template-areas:
            "header header header"
            "nav nav nav"
            "main main main"
            "footer footer footer";
        grid-template-rows: auto 1fr auto auto;
        grid-template-columns: 2fr 2fr 1fr;
    }

    main,
    header,
    nav,
    footer {
        grid-column: 1 / 4;
    }

    main {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-content: start;
        gap: 2rem;
    }

    main>*:not(h1) {
        margin-top: 0;
    }

    .nav-hidden {
        display: block;
        visibility: visible;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        gap: 1rem;
    }

    /* Classes */

    nav .active {
        position: relative;
    }

    nav .active::after {
        content: '';
        position: absolute;
        bottom: -8px;
        left: 50%;
        width: 50%;
        height: 4px;
        background-color: var(--primary-color);
        border-radius: 2px;
        transform: translateX(-50%);
        transition: background-color 0.3s ease;
    }

    nav .active:hover {
        color: var(--primary-color);
    }

    nav .active:hover::after {
        background-color: var(--primary-color);
    }

    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: start;
        text-align: left;
    }

    .toogle-menu {
        display: none;
        visibility: hidden;
    }

    .map {
        min-height: 35vh;
        width: 100%;
    }

    .restaurants-list .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }
}