:root {
    --body-font: "Roboto", sans-serif;
    --heading-font: "Roboto", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 1rem 2rem;
    font-family: var(--body-font);
}

@media screen and (min-width: 1024px) {
    body {
        margin: 2rem 6rem;
        font-family: var(--body-font);
    }
}

ul {
    list-style-type: none;
}

h1, h2, h3 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: #363636;
    font-family: var(--heading-font);
}

h1 {
    font-weight: 700;
}

h2 {
    font-weight: 600;
}

h3 {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    font-weight: 500;
}

a {
    text-decoration: none;
    font-weight: 500;
    color: #717147;
}

a:hover {
    color: #e2de84;
}

main {
    display: flex;
    flex-direction: column;
}

section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.color-scheme {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #dbdbdb;
    border-radius: 1rem;
}

@media screen and (min-width: 640px) {
    .color-scheme {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 1280px) {
    .color-scheme {
        display: flex;
        flex-direction: row;
    }
}

.color-scheme li {
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    color: #626267;
    font-weight: 600;
}

.background-colors {
    padding: 1rem;
    border-radius: 1rem;
    width: 12px;
    height: 12px;
    background-color: #f5f5f5;
    border: 1px solid #dbdbdb;
    box-shadow: 1px 3px 5px rgba(54, 54, 54, 0.3);
}

.headings {
    padding: 1rem;
    border-radius: 1rem;
    width: 12px;
    height: 12px;
    background-color: #363636;
    border: 1px solid #dbdbdb;
    box-shadow: 1px 3px 5px rgba(54, 54, 54, 0.3);
}

.paragraphs {
    padding: 1rem;
    border-radius: 1rem;
    width: 12px;
    height: 12px;
    background-color: #626267;
    border: 1px solid #dbdbdb;
    box-shadow: 1px 3px 5px rgba(54, 54, 54, 0.3);
}

.accents-1 {
    padding: 1rem;
    border-radius: 1rem;
    width: 12px;
    height: 12px;
    background-color: #e2de84;
    border: 1px solid #dbdbdb;
    box-shadow: 1px 3px 5px rgba(54, 54, 54, 0.3);
}

.accents-2 {
    padding: 1rem;
    border-radius: 1rem;
    width: 12px;
    height: 12px;
    background-color: #717147;
    border: 1px solid #dbdbdb;
    box-shadow: 1px 3px 5px rgba(54, 54, 54, 0.3);
}

.wireframe-desktop {
    border-radius: 1rem;
    border: 1px solid #dbdbdb;
    display: grid;
    height: 100%;
    grid-template-areas:
        "header header header"
        "nav nav nav"
        "main main aside"
        "footer footer footer";
    grid-template-rows: auto 2fr 1fr auto;
    grid-template-columns: 2fr 2fr 1fr;
}

.wireframe-desktop .header {
    padding: 1rem;
    grid-column: 1 / 4;
    color: #dbdbdb;
    background-color: #363636;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.wireframe-desktop .main {
    padding: 1rem;
    grid-column: 1 / 3;
    color: #626267;
    background-color: #f5f5f5;
}

.wireframe-desktop .aside {
    padding: 1rem;
    grid-column: 3 / 4;
    background-color: #dbdbdb;
}

.wireframe-desktop .footer {
    padding: 1rem;
    text-align: center;
    grid-column: 1 / 4;
    color: #dbdbdb;
    background-color: #363636;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.wireframe-mobile {
    max-width: 480px;
    display: grid;
    height: 100%;
    grid-template-areas:
    "header"
    "nav"
    "main"
    "footer";
    grid-template-rows: auto 2fr 1fr auto;
    grid-template-columns: 1fr;
    border-radius: 1rem;
    border: 1px solid #dbdbdb;
}

.wireframe-mobile .header {
    padding: 1rem;
    color: #dbdbdb;
    background-color: #363636;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.wireframe-mobile .main {
    padding: 1rem;
    color: #626267;
    background-color: #f5f5f5;
}

.wireframe-mobile .footer {
    padding: 1rem;
    text-align: center;
    color: #dbdbdb;
    background-color: #363636;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
