body {
    display: grid;
    height: 100vh;
    font-family: var(--body-font);
    color: var(--accent4-color);
    background: var(--accent1-color);
    grid-template-areas:
        "header"
        "nav"
        "main"
        "footer";
    grid-template-rows: auto 1fr auto auto;
    background-size: 2rem 2rem;
    background-image: radial-gradient(circle, var(--accent3-color) 1px, var(--accent1-color) 1px);
}

main {
    margin: 0 auto;
    padding: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--accent2-color);
}

header {
    background: var(--accent4-color);
    color: var(--accent1-color);
}

nav {
    padding: 1rem 2rem;
    background-color: var(--accent3-color);
    color: var(--accent1-color);
}

footer {
    padding: 2rem;
    color: var(--accent1-color);
    background-color: var(--accent3-color);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

a {
    font-weight: 600;
    text-decoration: none;
    color: var(--accent1-color);
}

a:hover {
    color: var(--primary-color);
}

nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 1rem;
}

.logo-header {
    padding: 0 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    padding: 1rem 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}

.logo svg {
    margin: 0 0.5rem;
}

.nav-hidden {
    display: none;
    visibility: hidden;
}

nav .active {
    position: relative;
}

nav .active::after {
    content: '';
    position: absolute;
    left: -12px;
    width: 4px;
    height: 100%;
    background-color: var(--primary-color);
    border-radius: 2px;
    transition: background-color 0.3s ease;
}

nav .active:hover {
    color: var(--primary-color);
}

nav .active:hover::after {
    background-color: var(--primary-color);
}

.toogle-menu {
    margin: 1rem 0.5rem;
    background-color: transparent;
    border: 2px solid var(--accent1-color);
    border-radius: 0.5rem;
    color: var(--accent1-color);
}

.toogle-menu:hover {
    color: var(--accent4-color);
    background-color: var(--accent1-color);
}

.open-icon {
    display: block;
    visibility: visible;
}

.close-icon {
    display: none;
    visibility: hidden;
}

.project-info,
.contact-info,
.contact-info address {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.map {
    min-height: 45vh;
    width: 100%;
}

.drag-map:hover {
    color: var(--accent1-color);
    background-color: var(--accent4-color);
}
