* {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    height: 100vh;
    max-width: 1280px;
    margin-inline: auto;
    font-family: "Roboto", sans-serif;
    color: #000000;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    
    --s: 40px;
    --n: 2;
    --t: 1px;
    --g: 12px;
    --c:#e1e1e1 25%,#0000 0;

    background: 
        conic-gradient(at var(--g) var(--t),var(--c))
        calc((var(--s)/var(--n) - var(--g) + var(--t))/2) 0/
        calc(var(--s)/var(--n)) var(--s),
        conic-gradient(from 180deg at var(--t) var(--g),var(--c))
        0 calc((var(--s)/var(--n) - var(--g) + var(--t))/2)/
        var(--s) calc(var(--s)/var(--n)),
        #ffffff;
    
    filter: blur(0.6px);
}

main, header, nav, footer {
    padding: 1rem;
    grid-column: 1 / 4;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main, header, footer {
    background-color: #dbdbdb;
}

footer {
    padding: 2rem;
    text-align: center;
}

#cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 2rem;
    align-items: center;
    justify-items: center;
}

.card {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    border-radius: 1rem;
}

.card-image {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.card-header {
    padding: 1rem 1rem 0;
    color: #495057;
}

.card-attributes {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: #495057;
}

.attribute-label {
    font-weight: 500;
}

@media screen and (min-width: 768px) {
    #cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        gap: 2rem;
    }
}

@media screen and (min-width: 1024px) {
    #cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        gap: 2rem;
    }
}
