:root {
    --primary-color: #bbfb09;
    --secondary-color: #2c2c2c;
    --accent1-color: #ffffff;
    --accent2-color: #c3c3c3;
    --accent3-color: #000000;
    --accent4-color: #ffd4a8;
    --accent5-color: #ccebff;
    --heading-font: "Roboto", sans-serif;
    --body-font: "Roboto", sans-serif;
    --screen-medium: 768px;
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    height: 100vh;
    font-family: var(--body-font);
    background: var(--accent2-color);
    color: var(--accent3-color);
    background-image: radial-gradient(circle, #495057 1px, rgba(0, 0, 0, 0) 1px);
    background-size: 1rem 1rem;
}

main {
    margin: 0 auto;
    padding: 2rem;
    background-color: var(--accent2-color);
    max-width: var(--screen-large);
}

main>*:not(h1) {
    margin-top: 1rem;
}

header {
    background: var(--accent3-color);
    color: var(--accent1-color);
}

nav {
    padding: 1rem;
    background-color: var(--secondary-color);
    color: var(--accent1-color);
}

nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 1rem;
}

.nav-hidden {
    display: none;
    visibility: hidden;
}

nav .active {
    color: var(--primary-color);
}

.logo-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer {
    padding: 2rem;
    color: var(--accent1-color);
    background-color: var(--secondary-color);
    text-align: center;
}

p {
    padding: 0.5rem 0;
}

a {
    text-decoration: none;
    color: var(--accent1-color);
}

a:hover {
    color: var(--primary-color);
}

ul {
    list-style-type: none;
}

.logo {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}

.profile {
    padding: 1rem 2rem;
    background-color: var(--accent1-color);
    border-radius: 1rem;
}

.profile-image {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.profile-image img {
    border-radius: 1rem;
}

.about-me {
    padding: 1rem 2rem;
    background-color: var(--accent1-color);
    border-radius: 1rem;
}

.courses-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
}

.courses-info ul,
.social-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

button {
    padding: 0.5rem 1rem;
    background-color: transparent;
    border: 2px solid var(--secondary-color);
    border-radius: 0.5rem;
    color: var(--secondary-color);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: var(--accent1-color);
    border: 2px solid var(--accent1-color);
}

.toogle-menu {
    margin: 1rem 0.5rem;
    background-color: transparent;
    border: 2px solid var(--accent1-color);
    border-radius: 0.5rem;
    color: var(--accent1-color);
}

.toogle-menu:hover {
    color: var(--accent3-color);
}

.open-icon {
    display: block;
    visibility: visible;
}

.close-icon {
    display: none;
    visibility: hidden;
}

figure {
    padding: 0;
    margin: 0;
}

button.active {
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
    color: var(--secondary-color);
}

button.active:hover {
    background-color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
    color: var(--accent1-color);
}

#listCourses {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.course {
    padding: 1rem;
    background-color: var(--accent1-color);
    border-radius: 0.5rem;
    color: var(--secondary-color);
}

.course-header {
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--accent2-color);
}

.course-title {
    margin: 0;
    color: var(--secondary-color);
    font-size: 1.2rem;
}

.course-credits {
    background: var(--accent5-color);
    color: #00446b;
    padding: 0.25rem 0.5rem;
    border-radius: 4px;
    font-size: 0.9rem;
    font-weight: bold;
}

.course-name {
    margin: 0 0 1rem 0;
    color: var(--secondary-color);
    font-size: 1.1rem;
}

.course-description {
    color: var(--secondary-color);
    line-height: 1.5;
    margin-bottom: 1rem;
    flex-grow: 1;
}

.course-details {
    margin-bottom: 1rem;
}

.course-certificate,
.course-technologies {
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
}

.tech-tags {
    display: inline-flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    margin-top: 0.25rem;
}

.tech-tag {
    color: var(--secondary-color);
    padding: 0.2rem 0.5rem;
    border-radius: 12px;
    font-size: 0.8rem;
    border: 1px solid var(--accent2-color);
}

.course-status {
    text-align: right;
    margin-top: auto;
}

.status-badge {
    padding: 0.5rem 1rem;
    border-radius: 20px;
    font-size: 0.9rem;
    font-weight: bold;
}

.status-badge.completed {
    background: var(--primary-color);
    color: #334503;
}

.status-badge.in-progress {
    background: var(--accent4-color);
    color: #5c2e00;
}